{
    "Host1":{
        "FQDN": "",
        "IP": ""
    },
    "Host2":{
        "FQDN": "",
        "IP": ""
    },
    "Scopes":{
        "Servers": "192.168.1.0",
        "Scope Name HERE": "ScopeId HERE" 
    }
}